$blue: #5079DD;
$gray: #F1F1F1;
$graybig: #D9D9D9;
$white: #FFF;

$base-color: $gray;
$active-color: $blue;
$base-gradient: bevel;
$list-active-color: $blue;
$font-family: Calibri !default;

// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..
.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon:before{
	color: $blue !important;
}

.x-tabbar-dark .x-tab-active {
	color: $blue !important;
}

//list item
.x-scroll-scroller{
	-webkit-backface-visibility: hidden;
}

.x-list-normal .x-list-item {
	width: 95% ;
}

.x-indexbar div {
	color: $blue;
	font-size: 1em ;
}

.x-list .x-list-item.x-item-pressed .x-dock-horizontal{
	background: none ;
}

.x-list-normal .x-list-item .x-dock-horizontal{
	border: 0 !important;
}

.x-list-normal .x-list-item.x-list-item-tpl.x-list-footer-wrap, .x-list-normal .x-list-item.x-list-footer-wrap .x-dock-horizontal, .x-list-normal .x-list-item.x-list-item-tpl, .x-list-normal .x-list-item .x-dock-horizontal {
	border-top: none !important;
}

.loclistdata{
	font-size: 0.89em;
}
.loclist.header2{
	font-size: 1em;
	font-weight: bold ;
	text-transform: uppercase;
}

.x-html h2 {
	font-size: 1.5em ;
	margin-bottom: 0 ;
}

//location detail
.locdetail{
	padding: 0.5em;
	width: 100%;
	float: left;
	border: 2px solid $graybig;
	background-color: $white;
	background: $white;
}

//Data
.loclist, .favloc{
	float: left;
	border: 1px solid $graybig;
	background: rgba(255,255,255,0.7);
	padding: 0.5em;
	width: 100%;
	display: inline-block;
	overflow: hidden;
	padding: 0px 0.5em;
}


// Examples of using the icon mixin:
// @include icon('user');
@include icon('locate1', '@');
@include icon('list', 'l');
@include icon('search1', 's');
@include icon('favorites', 'S');
@include icon('add', '&');